body {
  padding-top: 70px;
}

.avatar, .avatar-thumbnail {
  height: 24px;
  width: auto;
}

.avatar-thumbnail {
  float: left;
  margin: 2px;
}

.new-post {
  padding: 16px 0;
}

.new-post header,
.posts header {
  margin-bottom: 20px;
}

.posts .post {
  padding-left: 10px;
  border-left: 3px solid green;
  margin-bottom: 30px;
}

.posts .post .info {
  color: #aaa;
  font-style: italic;
  margin: 20px 0;
}

.post-text {
  padding: 2px;
}

.error,
.success {
  text-align: center;
}

.error {
  border: 1px solid red;
  background-color: #f99;
  color: red;
}

.error ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.success {
  border: 1px solid green;
  background-color: #9f9;
  color: green;
}
