body {
  padding-top: 70px;
}

.avatar, .avatar-thumbnail {
  height: 24px;
  width: auto;
}

.avatar-thumbnail {
  float: left;
  margin-right: 10px;
}

.big-avatar {
  inline: block;
  max-height: 500px;
  width: auto;
}

header {
  margin-bottom: 20px;
}

.new-post {
  padding: 16px 0;
}

.new-post header,
.posts header {
  margin-bottom: 20px;
}

.post-video < source[src=""], .post-image[src=""] {
  display: none !important;
}

.post-image,.post-video {
  min-width: 30vw;
  max-width: 80vw;
  height: auto;
}

.posts .post {
  padding-left: 10px;
  border-left: 3px solid green;
  margin-bottom: 30px;
}

.posts .post .info {
  color: #aaa;
  font-style: italic;
  margin: 20px 0;
}

.post-text {
  padding: 2px;
}

.error,
.success {
  text-align: center;
}

.error {
  border: 1px solid red;
  background-color: #f99;
  color: red;
}

.error ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.success {
  border: 1px solid green;
  background-color: #9f9;
  color: green;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
